<nav class="navbar navbar-light bg-dark ">
    <a class="navbar-brand  " href="#" style="color:rgb(85, 98, 237);"><b>&#169; EBZOL.... </b></a>


    <br>

</nav>


<div class="container cd-table-container">
    <h2 class="cd-title">ITEM TYPE:</h2>
    <input type="text" class="cd-search table-filter" data-table="order-table" placeholder="Sarch the item .." />

    <table class="cd-table table">
        <thead>
            <tr>
                <th>SL.NO</th>
                <th>ITEM TYPe</th>
                <th>ACTION</th>

            </tr>
        </thead>

        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td>

                    <button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button>
                    <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>

                    <button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button>
                    <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                </td>
            </tr>

        </tbody>
    </table>
</div>