<nav class="navbar navbar-light bg-dark ">
    <a class="navbar-brand  " href="#" style="color:rgb(85, 98, 237);"><b>&#169; EBZOL.... </b></a>


    <br>

</nav>
<div class="container">
    <div class="row">
        <div class="card-header">
            <h3 appHighight class="text-center">ITEM LIST</h3>




            <label for="item">Item Group:</label>

            <input type="text" name="item" formControlName="item" class="form-control" placeholder="Item">

            <label class="input-group-text">ICON</label>
            <input type="file" class="form-control">

            <button type="submit" class="btn btn-primary mb-3">SAVE</button>
            <button type="submit" class="btn btn-primary mb-3">CLEAR</button>


        </div>

        <div class="col-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">SL.NO</th>
                        <th scope="col">ITEM</th>
                        <th scope="col">ICON</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td></td>
                        <td></td>


                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>