<nav>
    <label class="logo">EBZOL...........</label>
    <ul>

        <li>
            <a href="#">LOGIN
                <i class="fas fa-caret-down"></i>
            </a>
            <ul>
                <li><a href="mobverify">ADMIN</a></li>
                <li><a href="login">SHOP</a></li>

            </ul>
        </li>
    </ul>



<div style="text-align:center;width: 300px;margin: 200px auto;">
    <h1>EBZOL.................</h1><br>
    <div style="text-align:left;width: 900px;margin: 100px auto;">

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt neque
            expedita atque eveniet <br> quis nesciunt. Quos nulla vero consequuntur, fugit nemo ad delectus
            a quae totam ipsa illum minus laudantium?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni fugit libero ab excepturi perspiciatis,
            reiciendis, natus ipsa error recusandae accusantium placeat voluptatum, quis vel voluptates sint adipisci
            eveniet repellendus sequi?</p>
    </div>
</div>
</nav>
<section></section>