
<nav class="navbar navbar-light bg-dark ">
<a class="navbar-brand  " href="#" style="color:rgb(85, 98, 237);"><b>&#169; EBZOL.... </b></a>


<br>

</nav>

<div class="container">
    <div class="row">
        <div class="card-header">
            <h3 appHighight class="text-center">SHOP CATEGORY</h3>

        </div>
        <div>

            <label for="item">Category:</label>

            <input type="text" name="shpcat" formControlName="shpcat" class="form-control"
            placeholder="Shop Category">

                <label class="input-group-text">ICON</label>
                <input type="file" class="form-control" >

                        <button type="submit" class="btn btn-primary mb-3">SAVE</button>
                        <button type="submit" class="btn btn-primary mb-3">CLEAR</button>


        </div>

        <div class="col-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">SL.NO</th>
                        <th scope="col">CATEGORY</th>
                        <th></th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td></td>
                        <td></td>
                        <td>

                            <button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button>
                            <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                        </td>


                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td></td>
                        <td></td>
                        <td>

                            <button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button>
                            <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

