<nav>
    <label class="logo">EBZOL...........</label>
    <ul>
        <li><a href="profile">PROFILE</a></li>

        <li>
            <a href="#">MASTERS
                <i class="fas fa-caret-down"></i>
            </a>

            <ul>


                <li>
                    <a href="item">ITEMS
                        <i class="fas fa-caret-right"></i>
                    </a>
                    <ul>
                        <li><a href="itemlist">ITEMLIST</a></li>
                        <li><a href="setoffer">SETOFFER</a></li>
                        <li><a href="itemofferlist">ITEMOFFERLIST</a></li>
                    </ul>
                </li>
            </ul>
        </li>





        <li><a href="frntpage">LOGOUT</a></li>


    </ul>



</nav>

<div style="text-align:center;width: 300px;margin: 200px auto;">
    <h1>EBZOL.................</h1><br>
    <div style="text-align:left;width: 900px;margin: 100px auto;">

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt neque
            expedita atque eveniet <br> quis nesciunt. Quos nulla vero consequuntur, fugit nemo ad delectus
            a quae totam ipsa illum minus laudantium?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni fugit libero ab excepturi perspiciatis,
            reiciendis, natus ipsa error recusandae accusantium placeat voluptatum, quis vel voluptates sint adipisci
            eveniet repellendus sequi?</p>
    </div>
</div>

<section></section>

<!-- <a href="#">MASTERS
                <i class="fas fa-caret-down"></i>
                </a>
 
               <ul>
                  <li><a href="#">SETLOCATION</a></li>
                <li><a href="#">Back End</a></li>
                  <li>
                     <a href="#">ITEMS
                     <i class="fas fa-caret-right"></i>
                     </a>
                     <ul>
                        <li><a href="#">ITEMLIST</a></li>
                        <li><a href="#">SETOFFER</a></li>
                        <li><a href="#">ITEMOFFERLIST</a></li>
                     </ul>
                  </li>
               </ul>
            </li>
            <li><a href="#">TRANSACTION</a></li>
            <li><a href="#">REPORT</a></li>
     -->