<nav class="navbar navbar-light bg-dark ">
    <a class="navbar-brand  " href="#" style="color:rgb(85, 98, 237);"><b>&#169; EBZOL.... </b></a>
    

    <br>

</nav>








<div class="container col-md-12 mt-0">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3 appHighight class="text-center">SET AN OFFER...</h3>

            </div>
            <div class="card-body">
                <form  (ngSubmit)="submit()" >
                    <div class="input-group form-group">
                        <input type="text" id="item" name="item" value="ITEM" readonly><br>

                    </div>
                    <div>

                        <input type="text" id="price" name="price" value="RATE" readonly><br>
                    </div>
                    <br>
                    <div class="input-group form-group">
                        <input type="text" name="offerrate" formControlName="offerrate" class="form-control"
                            placeholder="Offer Rate">
                    </div>
                    <div>
                        <label for="offrdtfrm">Offer date From:</label>
                        <input type="date" id="offrdtfrm" name="offrdtfrm">

                    </div>
                    <div>
                        <label for="offrdtto">Offer date To:</label>
                        <input type="date" id="offrdtto" name="offrdtto">

                    </div>
                    <div>


                        <button type="submit" class="btn btn-primary mb-3">ADD OFFER</button>

                    </div>

                </form>
            </div>
        </div>

    </div>
</div>
